body {
    text-align: center;
    background: linear-gradient(#90e0f5 0% ,#3f2acb 50% ,#d100ff 100% );
    background-repeat: no-repeat;
}






img{
    border-radius: 50%;
    width:500px;
    margin-top: 150px;
}






h1{
  text-shadow: 2px 2px #F8BBD0  ;
  font-size: 40px;
}





p{
  font-size: 20px;
  color: black;
}



.parallax-inner {
    display: table-cell; 
    position: relative;
    text-align: center;
    vertical-align: middle; 
}





.menu{
    list-style: none;
    position:absolute;
    z-index: 10;
    top :10px;
    right:30px;
    cursor:pointer;
}



.links{
    float:right;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-style:italic;
    font-size:20px;
}






.links:hover{
background-color: dodgerblue;
    font-size: 25px; 
}



