body {
    text-align: center;
    background: linear-gradient(#90e0f5 0% ,#3f2acb 50% ,#d100ff 100% );
    background-repeat: no-repeat;
}






img{
    border-radius: 50%;
    width:500px;
}






h1{
  text-shadow: 2px 2px #F8BBD0  ;
  font-size: 40px;
}





p{
  font-size: 20px;
  color: black;
}